/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002C49;
  padding: 10px 20px;
  height: 70px;
}

.header-logo img {
  height: 70px; /* Adjust logo size */
  margin-left: 130px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin-right: 80px;
  padding: 0 30px;
  gap: 50px;
  font-family: 'S-CoreDream-3Light';
  font-weight: 700;
  line-height: 3.7;
  cursor: pointer;

}

.header-nav li {
  position: relative; /* Ensure the dropdown positions relative to the parent */
  
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}


.dropdown-menu {
  // display: none;
  position: absolute;
    left: 0;
    right: 0;
    text-align: left;
  background-color: white;
  border: 1px solid #ddd;
  width: 200px;
  z-index: 9999;
}

.dropdown-menu li {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-menu a {
  color: rgb(106, 106, 106);
  text-decoration: none;
  display: flex;
  font-size: 14px;
  transition: all ease-out 0.25s;
}

.dropdown-menu a:hover {
  color: #3c3c3c;
}

.slider-container {
  width: 375px;
  height: 140px;
  margin: 0 auto;
  padding: 0;


  img {
    width: 100%;
    height: 120px;
  }

}
.slider-container {
  .swiper-pagination-bullet {
    background-color: #D4C4DB; // 기본 도트 색상
    opacity: 1;  // 기본 상태에서 불투명하게 설정 (default가 반투명일 수 있음)
    width: 8px;
    height: 8px;
  }

  .swiper-pagination-bullet-active {
    background-color: #FFFFFF; // 활성화된 도트 색상
  }
}
