<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃</title>
    <link rel="stylesheet" href="layout5.css">
</head>
<body>
    <header class="header">
        <div class="left-section"></div>
        <div class="right-section"></div>
    </header>
    <div class="content">
        <div class="left-images">
            <img src="../img/Rectangle_layout5(1).png" alt="Image 1" class="left-images1">
            <img src="../img/Rectangle_layout5(2).png" alt="Image 2" class="left-images2">
             <div class="squares">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <img src="../img/Rectangle_layout5(3).png" alt="Image 3" class="right-image">
        <div class="squares">
                <div class="square"></div>
            </div>
    </div>
    <footer class="footer"></footer>