<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃</title>
    <link rel="stylesheet" href="layout2.css">
</head>
<body>
    <header class="header">
        <div class="left-section"></div>
        <div class="right-section"></div>
    </header>

    <div class="container">
        <main class="content">
            <div class="top-content"></div>
            <div class="bottom-content">
                <div class="left-bottom-content"></div>
                <div class="right-bottom-content"></div>
            </div>
        </main>
    </div>

    <footer class="footer"></footer>
</body>
</html>