<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃</title>
    <link rel="stylesheet" href="layout4.css">
</head>
<body>
    <header class="header">
        <div class="left-section"></div>
        <div class="right-section"></div>
    </header>

    <main class="content">
        <div class="image-wrapper">
            <img src="../img/Rectangle_layout4(1).png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="../img/Rectangle_layout4(2).png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="../img/Rectangle_layout4(3).png" alt="">
        </div>
    </main>

    <footer class="footer">
        <div class="footer-section1">
        </div>
        <div class="footer-section2">
            <div class="sub-footer1">
                <!-- 첫 번째 하위 footer 영역 -->
            </div>
            <div class="sub-footer2">
                <!-- 두 번째 하위 footer 영역 -->
            </div>
        </div>
    </footer>
</body>
</html>