.Like_wrap_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 615px;
    width: 375px;
    background-color: #ffffff;
    margin: 0 auto;
    color: #6A6FB3;
    font-weight: bold;
    font-size: 15px;
}