.Main_wrap-container{
    width: 100%;
    max-width: 360px;  // 최대 너비 설정 (필요에 따라 조정 가능)
    margin: 0 auto;
    padding: 10px;
}
.notice-container {
    width: 100%;
    max-width: 360px;  // 최대 너비 설정 (필요에 따라 조정 가능)
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
  }
  
  .notice-header {
    border-bottom: 1.2px solid #3F426F;
    border-top: 1.2px solid #3F426F;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .notice-header h2 {
    font-size: 14px;
    color: #3F426F;
    margin: 0;
    font-weight: 400;
  }
  
  .notice-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 12px;
    color: #595959;
  }
  
  .notice-item:last-child {
    border-bottom: none;
  }
  
  .notice-item:hover {
    background-color: #f9f9f9;
  }
  
  .arrow-icon {
    color: #999;
  }
  .introduce {
    display: flex;
    justify-content: center;  /* 가로 방향 중앙 정렬 */
    align-items: center;      /* 세로 방향 중앙 정렬 */
    margin-top: 15px;         /* 상단 여백 */
}

.introduce img {
    width: 336px;
    height: auto;
    border-radius: 8px;
}
  